

.LoginForm{
    padding: 3vmin;
    background-color: lightblue;
    color: rgb(110, 52, 8);
    font-size: 2vmin;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}