.ActorCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 3px 6px #1d1551;
    font-weight: 800;
}

.inner{
    background-color: #1d1551;
    padding: 1rem;
    margin: 5px;
    min-width: 15rem;
    border-radius: 1rem;
}