.ActorCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

.inner{
    background-color: #1d1551; /*backup background*/
    padding: 1rem;
    margin: 5px;
    min-width: 15rem;
    border-radius: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 3px 6px #1d1551;
    font-weight: 800;
    list-style: none;
}

.inner:hover{
    opacity: 0.7;
}


